@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 30px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 50px;
  animation: fadeIn 2s 3s forwards;
}

nav {
  display: flex;
  gap: 80px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

nav a:hover {
  color: #ff8000;
  transition: 0.4s ease-out;
}

select {
  background-color: white;
  color: black;
  border: none;
  padding: 6px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-left: 80px;
  align-self: self-end;
}

/* Burger menu styling */

.burger {
  align-self: flex-start;
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger div {
  align-self: flex-start;
  width: 25px;
  height: 3px;
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home img {
  width: 600px;
  height: 600px;
  animation: fadeIn 2.5s 0s forwards ease-in-out;
}

.home p {
  opacity: 0;
  color: white;
  font-size: 40px;
  text-align: center;
  animation: fadeIn 2s 3s forwards;
}

.home button {
  padding: 10px 108px;
  background: transparent;
  opacity: 0;
  border-radius: 15px;
  border: 1px solid white;
  animation: fadeIn 2s 3s forwards;
}

.home button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  transition: 0.1s;
}

.home button:hover {
  background: linear-gradient(45deg, #fe7d00, #ff8000, #ffe600);
  border: none;
  transition: 0.2s;
}

.container {
  margin-top: 167px;
  display: flex;
  justify-content: space-between;
}

.container h1 {
  margin-left: 180px;
  color: #fff;
}

.sticky-left {
  width: 40%;

  top: 0;
}

.scrollable-right {
  margin-right: 150px;
  max-width: 600px;
  max-height: 100vh;
}

.sticky-left img {
  margin-top: 20px;
  width: 450px;
  height: auto;
}

.item {
  display: flex;
}

.item .scnd-p {
  padding-top: 50px;
  font-size: 20px;
}

.number p {
  font-size: 10rem;
  color: transparent;
  font-weight: bold;
  margin-right: 20px;
  -webkit-text-stroke: 1px #fe7d00;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav a {
    font-size: 15px;
  }
  nav {
    gap: 40px;
  }
  select {
    font-size: 10px;
  }
}

.photo-gallery {
  margin-top: 60px;
}

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.photo-gallery h1 {
  margin-top: 50px;
  color: #fff;
  margin-bottom: 60px;
  margin-left: 200px;
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.large-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.thumbnails img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnails img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .large-image img {
    height: 500px;
  }
  .thumbnails img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  nav {
    width: 180px;
    left: 10px;
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background-color: #111;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #4f4f4f;
  }
  nav.active {
    display: flex;
  }
  .burger {
    display: flex;
  }
  select {
    margin-left: 20px;
  }
}

#reviews h3 {
  color: white;
}

#reviews h1 {
  color: white;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slides {
  display: flex;
  gap: 70px;
}

.review-card {
  display: flex;
  text-align: center;
  padding: 20px;
  background-color: #212121;
  border-radius: 20px;
  max-width: 550px;
}

.review-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df {
  gap: 20px;
  display: flex;
}

.df-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.review-text {
  font-size: 11px;
  text-align: start;
  color: rgb(235, 235, 235);
  line-height: 1.2rem;
}

.review-slider {
  display: flex;
  flex-direction: column;
}

.review-img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.slider-controls {
  text-align: center;
  margin-top: 20px;
}

.slider-controls button {
  background-color: #616161;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin: 0 10px;
}

.review-card {
  gap: 15px;
}

.slider-controls button:hover {
  background-color: #fe7d00;
}

label {
  color: white;
}

input,
textarea {
  border-radius: 10px;
  display: flex;
  padding: 10px;
  width: 450px;
  gap: 20px;
  background-color: #212121;
  border: none;
  color: #dbdbdb;
}

input,
textarea,
button {
  margin: 10px 0;
  padding: 8px;
  font-size: 24px;
}

input,
textarea {
  padding: 15px;
}

.contt {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact h1 {
  margin-left: 200px;
  color: white;
  margin-bottom: 30px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.button-cntct {
  width: 450px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #ffe600, #ff8000, #ff8000, #ffe600);
  color: white;

  transition: 0.6s;
}

.button-cntct:hover {
  background: linear-gradient(90deg, #ff8000, #e4cd00, #ffe600, #ff8000);
}

.left-image img {
  height: 450px;
  width: 100%;
  border-radius: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 70px;
  padding: 20px;
  background-color: #111;
}

footer button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: linear-gradient(45deg, #ffe600, #ff8000, #ffe600);
  border: none;
}

footer i {
  color: white;
}

.titlle h1 {
  padding-left: 200px;
  margin-bottom: 50px;
}

footer button:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

.sticky-left h1 {
  margin-left: 200px;
}

@media (min-width: 360px) and (max-width: 500px) {
  .home img {
    width: 100%;
    height: auto;
  }

  .sticky-left h1 {
    margin-left: 0px;
  }

  .home p {
    font-size: 25px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    padding-left: 100px;
    width: 400px;
  }

  .scnd-p {
    font-size: 5px;
  }

  .container h1 {
    margin-left: 0;
  }

  footer {
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }

  footer button {
    width: 50px;
    height: 50px;
  }

  .sticky-left img {
    display: none;
  }

  .scrollable-right {
    margin-left: 0px;
  }

  .home img {
    height: auto;
  }

  .photo-gallery {
    padding-top: 900px;
  }
  .photo-gallery h1 {
    margin-left: 20px;
  }

  .slides {
    display: flex;
    flex-direction: column;
  }

  .titlle h1 {
    padding-left: 20px;
  }

  #contact h1 {
    margin-left: 20px;
  }

  .contt {
    margin-right: 100px;
  }

  input,
  textarea {
    width: 350px;
  }

  .button-cntct {
    width: 350px;
  }

  .photo-gallery {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home p {
    font-size: 30px;
  }

  .sticky-left img {
    width: 300px;
  }

  .sticky-left h1 {
    margin-left: 40px;
  }

  .photo-gallery {
    padding-top: 300px;
  }

  .photo-gallery h1 {
    margin-left: 40px;
  }

  .titlle h1 {
    padding-left: 40px;
  }
  .left-image {
    display: none;
  }

  #contact h1 {
    margin-left: 40px;
  }

  .photo-gallery {
    padding-left: 30px;
    padding-right: 30px;
  }

  .slides {
    display: flex;
    flex-direction: column;
  }
}
